<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Add Your Pokemon!</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1>Create your very own Pokemon!</h1>
    </div>
    <div class="row">

      <div class="col-lg-12">

        <div class="card">
          <div class="card-header">
            Add Characters
          </div>
          <div class="card-body">
            <form action="" method="POST" role="form">

              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Type1</label>
                <input type="text" class="form-control" id="Type1" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Type2</label>
                <input type="text" class="form-control" id="Type2" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Total</label>
                <input type="text" class="form-control" id="Total" placeholder="">
              </div>

              <div class="form-group">
                <label for="">HP</label>
                <input type="text" class="form-control" id="HP" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Attack</label>
                <input type="text" class="form-control" id="Attack" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Defense</label>
                <input type="text" class="form-control" id="Defense" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Sp_Atk</label>
                <input type="text" class="form-control" id="Sp_atk" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Sp_Def</label>
                <input type="text" class="form-control" id="Sp_def" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Speed</label>
                <input type="text" class="form-control" id="Speed" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Generation</label>
                <input type="text" class="form-control" id="Generation" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Legendary</label>
                <input type="text" class="form-control" id="Legendary" placeholder="">
              </div>

              <div class="form-group">
                <label for="">User</label>
                <input type="text" class="form-control" id="User" placeholder="">
              </div>

              <div class="form-group">
                <label for="">Enemy</label>
                <input type="text" class="form-control" id="Enemy" placeholder="">
              </div>

            </form>
            <br>
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-md" id="add-btn">
                <span class="fa fa-fire"></span> Create new Pokemon!</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="assests/js/index.js" type="text/javascript"></script>
  routes\html-routes.js

</body>

</html>