<div class="jumbotron text-center">
  <h1>Choose two Pokemon!</h1>
</div>
<div class="row" id="bigBox">
  <div class="col-4 poke-choose card">
    <div id="userPoke"></div>

    <form class="form-inline search" id="search1">
      <div class="form-group">
        <input type="text" class="form-control" id="search-value" placeholder="Player">
      </div>
      <button id="search-btn" type="submit" class="btn btn-primary mb-2">Choose</button>
    </form>

  </div>
  <div class="col-4 card poke-choose enemyPoke" id="fightBox">
    

    {{!-- <a class="btn btn-danger btn-lg text-center" href="fight">FIGHT!</a> --}}
    <button type="submit" class="btn btn-danger btn-lg text-center" id="fightButton">Fight</button>

  </div>
  <div class="col-4 poke-choose card">
  <div id="enemyPoke"></div>
    <form class="form-inline search" id="search2">
      <div class="form-group">
        <input type="text" class="form-control" id="search-value2" placeholder="Opponent">
      </div>
      <button id="search-btn2" type="submit" class="btn btn-primary mb-2">Choose</button>
    </form>

  </div>
</div>





{{!-- <ul id="enemyPoke">

      </ul> --}}