
  <div class="row align-items-start">
    
      <h1>Fight!</h1>


      <h2>Choose your Pokemon:</h2>

      <form class="form-inline search">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="search-value" placeholder="Choose pokemon">
        </div>
        <button id="search-btn" type="submit" class="btn btn-primary mb-2">Go!</button>
      </form>
   
      <h2>Choose your Pokemon's opponent:</h2>

      <form class="form-inline search">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="search-value2" placeholder="Choose opponent">
        </div>
        <button id="search-btn2" type="submit" class="btn btn-primary mb-2">Go!</button>
      </form>

      <ul id="enemyPoke">

      </ul>