<div class="jumbotron text-center mainJumbo">
  <h1>Pokemon Battle Generator!!!</h1>
</div>

<div class="row row-cols-3">
  <div class="col-3">
  </div>
  <div class="col-6">

    <div class="card justify-content-center" style="width: 100%;">
      <ul class="list-group">

        <a class="btn btn-warning list-group-item" href="choose">Choose two Pokemon to fight</a>

        <a class="btn btn-warning list-group-item" href="create">Add New Pokemon</a>

        <a class="btn btn-warning list-group-item" href="pokedex">Go to Pokedex</a>

    </div>
    <div class="col-3">
    </div>
  </div>