<<<<<<< HEAD
<h1>Fight!</h1>

<h2>This is the Enemy</h2>

<ul>
  {{#each pokemon}}
  {{#if Enemy}}
  {{Name}}
  {{HP}}
  {{/if}}
  {{/each}}
</ul>

<h2>This is your Pokemon</h2>
<ul>
  <li> 3 = Venusaur </li>
  <li> 6 = Charizard</li>
  <li> 9 = Blastoise</li>
  <li> 68 = Machamp</li>
  <li> 135 = Jolteon</li>
</ul>
=======
<div class="jumbotron text-center">
  <h1>Pokemon Battle Generator!!!</h1>
</div>
>>>>>>> 634b26c61f135bd47010bc2456fdaacca9b7b4c5

<div class="row row-cols-3">
  <div class="col-3">
  </div>
  <div class="col-6">

    <div class="card justify-content-center" style="width: 100%;">
      <ul class="list-group">

        <a class="btn btn-warning list-group-item" href="choose">Choose two Pokemon to fight</a>

        <a class="btn btn-warning list-group-item" href="create">Add New Pokemon</a>

        <a class="btn btn-warning list-group-item" href="pokedex">Go to Pokedex</a>

    </div>
    <div class="col-3">
    </div>
  </div>