<h1>Fight!</h1>

<h2>This is the Enemy</h2>

<ul>
  {{#each pokemon}}
  {{#if Enemy}}
  {{Name}}
  {{HP}}
  {{/if}}
  {{/each}}
</ul>

<h2>This is your Pokemon</h2>
<ul>
  <li> 3 = Venusaur </li>
  <li> 6 = Charizard</li>
  <li> 9 = Blastoise</li>
  <li> 68 = Machamp</li>
  <li> 135 = Jolteon</li>
</ul>

<form class="form-inline search">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="search-value" placeholder="Choose your Pokemon">
  </div>
  <button id="search-btn" type="submit" class="btn btn-primary mb-2">Go!</button>
</form>

<ul id="userPoke">
  
</ul>

<a href="create" class="btn btn-danger btn-lg">
        <span class="fa fa-plus"></span> Add New Pokemon</a>

<h2>Pokemon index</h2>
<div> {{#each pokemon}}
<div class="card pokecard" style="width:300px">
  <div class="card-body">
    <h4 class="card-title">{{Name}}</h4>
    <p class="card-text">selector: {{Number}}</p>
  </div>
</div>
  {{/each}} </p></div>
 


