<div class="jumbotron text-center">
  <h1>Pokedex:</h1>
</div>

<div class="row">
  <div class="col">
    <div> {{#each pokemon}}
      <div class="card pokecard" style="width:300px">
        <div class="card-body">
          <h4 class="card-title">{{Name}}</h4>
          <p class="card-text">selector: {{Number}}</p>
          <img src="https://pokeres.bastionbot.org/images/pokemon/{{Number}}.png" class="interaction" data-micron="jerk"
            alt="pokemans">
        </div>
      </div>
      {{/each}} </p>
    </div>

  </div>
</div>