

#background-img {
  background-image: url(battle-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: aqua;
  margin-top: 5%;
  width: 90vw;
  height: 90vh;
}

/* 
class card + 
float: :left
postion: relative */

.enemyClass {
  padding-right: 5%;
  margin-left: 60%;
  margin-bottom: 5%;
  justify-content: end;
}

.playerClass {
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: start;
}
